body {
  margin: 0;
  background-color: #1f2937;
  font-family: "Karla";
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0 52px;
}

hr {
  height: 2px;
  width: 100%;
  background-color: #2f3e53;
  border: none;
}

.emphasis {
  color: #4adf86;
}

.password-field {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  color: #55f991;
  margin-left: 24px;
  background-color: #273549;
  height: 40px;
  width: 210px;
}

#generate-passwords-btn {
  cursor: pointer;
  height: 45px;
  width: 200px;
  margin-top: 50px;
  background-color: #10b981;
  color: white;
  border: none;
  border-radius: 6px;
  margin-bottom: 35px;
}
#generate-passwords-btn:active {
  background-color: #059669;
}

#main-call {
  padding-top: 115px;
  font-weight: 800px;
  margin: 0px;
}
#passwords-div {
  margin-top: 40px;
  display: flex;
  justify-content: center;
}

#subline {
  margin: 0px;
  margin-top: 10px;
  color: #d5d4d8;
  font-weight: 300;
}
