body {
  margin: 0;
  background-color: #1b244a;
  font-size: 36px;
  color: white;
}

.container {
  display: flex;
  justify-content: space-around;
}

.scoreboard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.score-container {
  background-color: #080001;
  width: 155px;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 26px;
  border-radius: 5px;
}

#home-score,
#away-score {
  font-size: 90px;
  margin: auto;
  text-align: center;
  color: #f94f6d;
}

.score-btns {
  background: none;
  padding: 0px;
  display: flex;
  justify-content: space-between;
  width: 155px;
}
.score-btns > button {
  border-radius: 5px;
  color: #9aabd8;
  background-color: #1b244a;
  border: 2px solid #9aabd8;
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.score-btns > button:hover {
  box-shadow: 0px 0px 5px #fde68a;
}

.score-btns > button:active {
  background-color: #9aabd8;
  color: #1b244a;
  box-shadow: none;
}

#new-game {
  border-radius: 5px;
  color: #9aabd8;
  background-color: #1b244a;
  border: 2px solid #9aabd8;
  width: 100px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: auto;
}

#new-game:hover {
  box-shadow: 0px 0px 5px #fde68a;
}

#new-game:active {
  background-color: #9aabd8;
  color: #1b244a;
  box-shadow: none;
}
